
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url(mu1.jpg);
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    margin: auto;
    padding:240px;
}
p{
    font-weight: bold;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    height: 40px;
    padding: 10px;
    color: rgb(8, 8, 8);
    font-size: x-large;
    padding-bottom: 50px;
    word-spacing: 0px;
    

}
.search-Box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.search-Box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-Box:hover > .search-btn {
  background: white;
  color : #2f3640;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}

.search-txt {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}